<div class="container">
    <h3 class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"> Selecione uma data</h3>
    
    <ul class="list-group">
        <li class="list-group-item agenda-chosen" id="agenda-{{ agenda.id }}" *ngFor="let agenda of agendas" (click)="selctAgenda= agenda">
        {{ agenda.dia }}
        </li>
    </ul>

    <div  *ngIf="selctAgenda">
        <h3 class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"> Selecione uma hora para o dia {{selctAgenda.dia}}  </h3>
        
        <ul class="list-group" >
            <li class="list-group-item agenda-chosen" id="horario-{{ selctAgenda.id }}" *ngFor="let horario of selctAgenda.horarios" (click)="selectHoraConsulta(horario)">
            {{ horario }}
            </li>
        </ul>
    <div>
    
</div>