<!--app-especialidades></app-especialidades-->
<div class="center ">
    <div class="consulta-box">
        <div class="conteiner">
            <div div="row justify-content-start">
                <div div="col">
                    <label class="titulo color-black mb-5">Nova Consulta </label>
                </div>  
            </div>
            <div>
                <form [formGroup]="consulta" >
                    <div class="form-group row mb-4">
                        <select id="especialidade"  class="selectpicker form-control form-control-lg" formControlName="especialidade" >
                            <option disabled  [ngValue]="null" >Especialidades</option>
                            <option id="especialidade{{especialidadeItem.id}}" [ngValue]="especialidadeItem.id" *ngFor="let especialidadeItem of especialidadesList"  >
                                {{especialidadeItem.nome}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group row mb-4" >
                        <select id="medico" class="form-control form-control-lg" formControlName="medico" [disabled]="!!consulta.value.especialidade">
                            <option [ngValue]="null" disabled >Médico</option>
                            <option id="medico{{ medico.id }}" [ngValue]="medico.id" *ngFor="let medico of medicosList" >
                                {{medico.nome}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group row mb-4">
                        <select id="data" class="form-control form-control-lg"  formControlName="data" placeholder="Data" [disabled]="!consulta.value.medico">
                            <option disabled [ngValue]="null">Data</option>
                            <option id="data{{ data.id }}" [ngValue]="data" *ngFor="let data of dataList" >
                                {{data.dia}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group row mb-4">
                        <select id="hora" class="form-control form-control-lg" formControlName="hora" placeholder="Hora"  [disabled]="!consulta.value.data">
                            <option  [ngValue]="null" disabled >Hora</option>
                            <option id="hora{{ hora.id }}" [ngValue]="hora" *ngFor="let hora of horasList" >
                                {{hora}}
                            </option>
                        </select>
                    </div>
                </form>                    
            </div>
            
            <div class="row">
                <div class="col">
                    <div class="btn-groupr">
                        <button class="btn btn-lg btn-block color-green btn-groupr mr-2" type="submit" routerLink='/list-consultas' routerLinkActive='active'>Cancelar</button>
                    </div>
                </div>
                <div class="col">
                    <button class="btn btn-lg btn-primary btn-block color-green-bg btn-groupr mr-2 " type="submit" (click)="marcaConsulta()" [disabled]="!consulta.value.hora">Confirmar</button>
                </div>   
            </div>
        </div>
    </div>
</div>